/* selects all elements*/
*{
    background-color: aquamarine;
}

/*class is denoted by the '.' */
 .fontred{
    color: red;
 }


 .fontcaps{
     text-transform: uppercase;
 }

 div.fontgreen{
     color: green;
 }
p.fontgreen{
    color:rgb(78, 19, 133);
    font-style:oblique;
    
}
 ol, p{
     text-transform: capitalize;
 }

 div p{
     background-color: aliceblue;
 }

 div > p{
     font-style: italic;
 }
 span > p{
     font-size: xx-small;
 }

 div + p{
     text-transform: uppercase;
 }

 p ~div {
     background-color: coral;
     
 }

 div.fontstyle{
     background-color: beige;
     
     font-family: Sofia;
     /*font-family: Georgia, 'Times New Roman', Times, serif;*/
     font-style: oblique;
     font-weight: 800;
     font-size: 2em; /* 16 pixels is default*/
     font-variant: small-caps;
     
     
     /*
     above can be written in shorthand 
     font: oblique small-caps 2em Georgia;
     */
 }
