/* selects all elements*/
*{
    background-color: aquamarine;
}

/*class is denoted by the '.' */
 .fontred{
    color: red;
 }


 .fontcaps{
     text-transform: uppercase;
 }

 div.fontgreen{
     color: green;
     
 }
p.fontgreen{
    color:rgb(78, 19, 133);
    font-style:oblique;
    
}
 ol, p{
     text-transform: capitalize;
 }

 div p{
     background-color: aliceblue;
 }

 div > p{
     font-style: italic;
 }
 span > p{
     font-size: xx-small;
     /* margin-left: 50px;
     margin-right: 50px; */
     margin: 50px 50px 50px 50px;
     /* padding-left: 10 px; */
 }  

 div + p{
     text-transform: uppercase;
 }

 p ~div {
     background-color: rgb(118, 80, 255);
     background-color: hsla(100, 77%, 54%, 0.2);    
 }
#p2{

    background-color: rgb(71, 71, 133);
   

}

#colorDemo{
    border-width: thick;
    border-color: crimson;
    background-color: rgba(118,80, 255, 0.3);
}

 div.fontstyle{
     background-color: beige;
     
     font-family: Sofia;
     /*font-family: Georgia, 'Times New Roman', Times, serif;*/
     font-style: oblique;
     font-weight: 800;
     font-size: 2em; /* 16 pixels is default*/
     font-variant: small-caps;
     
     
     /*
     above can be written in shorthand 
     font: oblique small-caps 2em Georgia;
     */
 }
 body{
     background-image:url(images/small-bee-md.png);
     background-repeat: repeat-x;
     background-size: 250px;
     background-attachment: fixed;
 }
 
 table{
     /* border-width: 1rem; */
     border-width: thick;
     border-style: groove;
     border-color: red green blue yellow;
     /* shorthand: border: width style color */
    
 }
 
 
