body{
    background-color: rgb(19, 50, 93);
}

/* Flexbox to display containers in a horizontal row  */
.mytabs{
    display:flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25 px;;
}
.mytabs input[type="radio"]{
    display: none;
   
}

/* Formting each tab */
.mytabs label{
    background-color: rgb(135, 160, 182);
    width:33%;
    height: 3em;
    font-weight: bold;
    text-align: center;
}

/* This is formating each tab content page*/
.mytabs .tabContent{
    width: 100%;
    padding: 30px;
    /* background-color: rgb(214, 228, 240); */
    order:1;
    display: none;
}
/* setting the font size for the Header's in each tab's content */
.mytabs .tab h2{
    font-size: 3em;
} 

/* This is saying for the checked radio button,
look to the very next label, then the very next tabcontent
Then display that inline.  Basically it is selecting the content of the 
selected radio button to display*/
.mytabs input[type="radio"]:checked + label + .tabContent{
    display: inline;
}

/*will change color for tab that is 'on' */
.mytabs input[type="radio"]:checked + label{
    background-color: rgb(214, 228, 240);
}

/* changes color for the tab when the mouse hovers over it*/
.mytabs input[type="radio"]:hover + label{
    background-color: rgb(68, 51, 3);
}

/* Just some formatting for what is in each tab's content box */
#Tab1 {
    height:500px;
    background-image:url(dirty-pattern-paint-room-block.jpg);
    font-size: large;

}
#Tab2{
    height:500px;
    background-image:url(abstract_blue.jpg);
    text-emphasis-color: white;
    color:aliceblue;
    font-size: large;
    
}

#tab2Link{
    color:blanchedalmond;
}

#Tab3{
    height:400px;
    background-image:url(unsplash8.jpg8.jpg);
    background-size:cover;
    font-size: large;
}