
.parent{
    height: 40px;
}
a {text-decoration: none;
    color: rgb(5, 1, 10);
    font-weight: bold;
    text-shadow: 2px 2px 5px;
}
.tab{
 /* display and float work similarly */
 /* display: inline-block; */
 float: left;
 background: rgb(117, 86, 167);
 height: 100%;
 width: 32%;
 border: 3px;
 border-style: ridge;
 box-sizing: border-box;
 padding: 10px;
 text-align: center;
 
}

/* .parent > div:hover{
    background: rgb(27, 3, 65);
}
.parent > div:not(:target){
    background: rgb(117, 86, 167);
}

.parent > div:target{
    background: rgb(27, 3, 65);
}  */

.tab:target {
    background-color:aliceblue;
}

.tab:not(:target){
    background: rgb(117, 86, 167);
}

.tab:hover{
 background-color: rgb(57, 18, 121);
}


#firstTab{
       background-color: rgb(182, 170, 206);
   }