*{
    background-color: #eed0e5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    text-align: center;
    color:#581845
}

h2{
    text-align: center;
    color:#581845;
}

.container{
    display: flex;
    width: 100%;
    float: left;
    border: solid 5px #581845;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em;

}


#guessButton{
    background-color: #581845;
    width: 40% ;
    height: 5em;
    color:black;
    font-size: larger;
    text-shadow: 1px 1px 4px white;
    border-radius:  1em;
    text-align: center;
    position: relative;
    /* position:fixed; */
    left: 20%
    
}




