*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(174, 188, 214); */
    margin: 2%;
}
h1{
    height: 2em;
}

button{
    background-color: #d4cfd0;
    /* inline-size: 32%; */
    height:4rem;
    width: 90%;
    margin-left: 8%;
    margin: 1%;
    
    /* font-weight: bold; */
}

.box {
    display: flex;
    flex-direction: row;
  }
  .box :nth-child(1) { order: 4; }
  .box :nth-child(2) { order: 3; }
  .box :nth-child(3) { order: 2; }
  .box :nth-child(4) { order: 1; }
  
button:hover{
    background-color: aliceblue;
    
}


h6{
    color:gray
}
#next{
    background-color: rgb(50, 107, 102);
    width: 15%;
    margin-top: 3%;
    font-weight: bold;
    
}

